<nav id="navbar">
    <ul id="">
        <li ><a  href="../">Home</a></li>
        <li ><a  href="../movieForm">Sign up Movie Form</a></li>
        <li ><a  href="../movies">Search Movies</a></li>
    </ul>
</nav>