<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{>nav}}
    {{{body}}}
    {{!-- anything inside the res.render is going to be displayed in the body brackets --}}
</body>
</html>